<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dell.zxqy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.activity.ShowActivity" />
        <activity android:name=".user.activity.SignActivity" />
        <activity android:name=".goods.activity.HotShowActivity" />
        <activity android:name=".goods.activity.MasigActivity" />
        <activity android:name=".goods.activity.QualityActivity" />
        <activity android:name=".goods.activity.DetailsActivity" />
        <activity android:name=".my.activity.MyActivity" />
        <activity android:name=".my.activity.MyCrileActivity" />
        <activity android:name=".my.activity.MyFootActivity" />
        <activity android:name=".my.activity.MyAddressActivity" />
        <activity android:name=".form.activity.CreateFormActivity" />
        <activity android:name=".my.activity.NewAddess" />
        <activity android:name=".my.activity.UpdateAddressActivity" />
        <activity android:name=".my.activity.MyMoneyActivity" />
        <activity
            android:name=".form.activity.PayActivity"
            android:label="@string/title_activity_pay"
            android:theme="@style/AppTheme" />
        <activity android:name=".form.activity.EvaluatActivity"></activity>
    </application>

</manifest>